
body {
  height: 100vh;
  background: #123456; 
}

.container {
  width: 60%;
  max-width: 600px;
  margin: auto;
  background: #f0f8ff; 
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#newTask {
  margin-bottom: 20px;
}

#newTask input {
  width: calc(100% - 120px); 
  height: 40px;
  font-size: 14px;
  border: 2px solid #888888;
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px;
}

#newTask button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #28a745; 
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

#newTask button:hover {
  background: #1e7c34;
}

.task {
  background: #ffedcc; 
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: block;
  position: relative;
}

.task span {
  font-size: 16px;
  color: #333333;
}

.task button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background: #dc3545; 
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task button:hover {
  background: #a71d2a;
}

.completed span {
  text-decoration: line-through;
  color: #888888;
}
